In [145]:
import pandas as pd
import os

In [146]:
DIRETORIO = 'C:\Projetos\coleta_dados_estruturados'
arquivo = 'dados_jogadores.csv'
dados = os.path.join(DIRETORIO, arquivo)
dados

'C:\\Projetos\\coleta_dados_estruturados\\dados_jogadores.csv'

In [147]:
df = pd.read_csv('C:\\Projetos\\coleta_dados_estruturados\\dados_jogadores.csv', sep=';', encoding='latin-1')

In [148]:
df.rename(columns={'jogador': 'nome_jogador'}, inplace = True)

In [149]:
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])
df['Data'] = df['data_nascimento'].dt.strftime('%Y-%m-%d')

In [150]:
df.head()

,nome_jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas,Data
0,jogador 1,Masculino,1990-03-09,Dama,Chile,14.0,0.0,14.0,1990-03-09
1,Jogador 2,Feminino,1986-01-05,Jogo da velha,Chile,39.0,20.0,59.0,1986-01-05
2,Jogador 3,Masculino,1964-04-10,Jogo da velha,Brasil,26.0,3.0,29.0,1964-04-10
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0,1979-09-28
4,Jogador 5,Masculino,1978-03-09,Dama,Uruguai,1.0,54.0,55.0,1978-03-09

In [151]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\projetos\coleta\env\coleta_dados\lib\site-packages (2.0.3)

In [152]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\projetos\coleta\env\coleta_dados\lib\site-packages (1.4.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\projetos\coleta\env\coleta_dados\lib\site-packages (from sqlalchemy) (1.0.0)

In [153]:
import MySQLdb
import sqlalchemy

In [173]:
user = 'root'
password = 'pedro7007'
host = 'localhost'
database = 'pedro' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao

'mysql://root:pedro7007@localhost/pedro'

In [174]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [175]:
df_jogador = df[['nome_jogador', 'genero', 'data_nascimento', 'num_vitorias', 'num_derrotas', 'total_partidas']].drop_duplicates().dropna()
df_jogo = df[['jogo']].drop_duplicates().dropna()
paiss = list(df.pais.unique())

In [176]:
df_jogador

,nome_jogador,genero,data_nascimento,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,1.0,54.0,55.0
...,...,...,...,...,...,...
493,Jogador 494,Feminino,1977-07-11,31.0,11.0,42.0
494,Jogador 495,Feminino,1974-03-06,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,13.0,51.0,64.0
497,Jogador 498,Masculino,1958-09-28,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,1.0,86.0,87.0

In [177]:
df_jogo

            jogo
0           Dama
1  Jogo da velha
5         Xadrez

In [178]:
paiss

['Chile', 'Brasil', 'Argentina', 'Uruguai', 'Paraguai']

In [179]:
for jogado in df_jogador[:3].itertuples():
    print(jogado)

Pandas(Index=0, nome_jogador='jogador 1', genero='Masculino', data_nascimento=Timestamp('1990-03-09 00:00:00'), num_vitorias=14.0, num_derrotas=0.0, total_partidas=14.0)
Pandas(Index=1, nome_jogador='Jogador 2', genero='Feminino', data_nascimento=Timestamp('1986-01-05 00:00:00'), num_vitorias=39.0, num_derrotas=20.0, total_partidas=59.0)
Pandas(Index=2, nome_jogador='Jogador 3', genero='Masculino', data_nascimento=Timestamp('1964-04-10 00:00:00'), num_vitorias=26.0, num_derrotas=3.0, total_partidas=29.0)

In [180]:
df_jogador = df[['nome_jogador', 'genero', 'data_nascimento', 'num_vitorias', 'num_derrotas', 'total_partidas']].drop_duplicates().dropna()
df_jogo = df[['jogo']].drop_duplicates().dropna()
paiss = list(df.pais.unique())

In [181]:
for pessoa in df_jogador.itertuples():
    nome_jogador = pessoa.nome_jogador
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)[:10]
    num_vitorias = pessoa.num_vitorias
    num_derrotas = pessoa.num_derrotas
    total_partidas = pessoa.total_partidas
    try:
        querey = f"""insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas ) 
                     values ('{cod_jogador}', '{nome_jogador}', '{genero}',  '{data_nascimento}', '{num_vitorias}', '{num_derrotas}', '{total_partidas}')"""      
        conn.execute(querey)      
        print(f"Registro inserido com sucesso: {jogador}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {jogador}. O erro foi encontrado foi: {e}")

Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'jogador 1', 'Masculino',  '1990-03-09', '14.0', '0.0', '14.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 2', 'Feminino',  '1986-01-05', '39.0', '20.0', '59.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 3', 'Masculino',  '1964-04-10', '26.0', '3.0', '29.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 4', 'Masculino',  '1979-09-28', '9.0', '72.0', '81.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 5', 'Masculino',  '1978-03-09', '1.0', '54.0', '55.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 6', 'Masculino',  '1977-04-11', '88.0', '0.0', '88.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 7', 'Masculino',  '1986-11-11', '53.0', '24.0', '77.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 8', 'Feminino',  '1996-03-18', '35.0', '27.0', '62.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 9', 'Masculino',  '1969-01-14', '27.0', '18.0', '45.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 10', 'Masculino',  '2004-06-05', '4.0', '1.0', '5.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 11', 'Masculino',  '1975-09-25', '18.0', '48.0', '66.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 12', 'Feminino',  '1992-05-07', '22.0', '2.0', '24.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 13', 'Masculino',  '1996-06-19', '13.0', '4.0', '17.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 14', 'Feminino',  '1980-08-10', '22.0', '52.0', '74.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 15', 'Feminino',  '1955-10-18', '38.0', '48.0', '86.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 16', 'Feminino',  '1999-01-11', '86.0', '13.0', '99.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 17', 'Masculino',  '1984-01-02', '41.0', '11.0', '52.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 18', 'Feminino',  '1981-07-02', '53.0', '20.0', '73.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 19', 'Feminino',  '2004-11-08', '4.0', '77.0', '81.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 20', 'Masculino',  '1954-06-30', '28.0', '12.0', '40.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 21', 'Feminino',  '1954-05-09', '10.0', '82.0', '92.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 22', 'Feminino',  '1955-06-16', '40.0', '31.0', '71.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 23', 'Feminino',  '1997-12-30', '11.0', '18.0', '29.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 24', 'Masculino',  '1988-11-30', '5.0', '12.0', '17.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 25', 'Feminino',  '1970-12-28', '8.0', '58.0', '66.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 26', 'Feminino',  '1963-02-15', '4.0', '6.0', '10.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 27', 'Feminino',  '1994-07-31', '84.0', '11.0', '95.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 28', 'Masculino',  '1962-12-15', '10.0', '32.0', '42.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 29', 'Masculino',  '1984-11-22', '9.0', '22.0', '31.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 30', 'Feminino',  '2003-03-17', '10.0', '46.0', '56.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 31', 'Masculino',  '1959-01-17', '38.0', '6.0', '44.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 32', 'Masculino',  '1951-03-24', '2.0', '47.0', '49.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 33', 'Feminino',  '1953-07-14', '46.0', '36.0', '82.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 34', 'Feminino',  '1956-12-09', '16.0', '4.0', '20.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 35', 'Masculino',  '1951-09-12', '33.0', '3.0', '36.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 36', 'Masculino',  '1973-05-12', '48.0', '31.0', '79.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 37', 'Feminino',  '1989-07-11', '36.0', '18.0', '54.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 38', 'Masculino',  '1966-06-11', '1.0', '42.0', '43.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 39', 'Masculino',  '1955-07-03', '23.0', '4.0', '27.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 40', 'Masculino',  '1990-06-02', '8.0', '23.0', '31.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 41', 'Masculino',  '1953-07-17', '8.0', '17.0', '25.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 42', 'Feminino',  '1998-06-18', '1.0', '14.0', '15.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 43', 'Masculino',  '1951-07-14', '31.0', '7.0', '38.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 44', 'Masculino',  '1982-04-25', '16.0', '44.0', '60.0')]

Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 292', 'Feminino',  '1974-01-04', '26.0', '4.0', '30.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 293', 'Masculino',  '1974-10-08', '1.0', '1.0', '2.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 294', 'Masculino',  '1989-11-02', '19.0', '3.0', '22.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 295', 'Feminino',  '1960-03-11', '10.0', '20.0', '30.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 296', 'Masculino',  '1998-01-02', '8.0', '26.0', '34.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 297', 'Masculino',  '1960-01-08', '41.0', '4.0', '45.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 298', 'Masculino',  '1967-08-27', '7.0', '1.0', '8.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 299', 'Masculino',  '1996-05-19', '8.0', '89.0', '97.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 300', 'Masculino',  '1999-08-04', '1.0', '2.0', '3.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 301', 'Feminino',  '2004-03-06', '47.0', '33.0', '80.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 302', 'Masculino',  '1950-04-19', '21.0', '26.0', '47.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 303', 'Masculino',  '1961-11-02', '36.0', '45.0', '81.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 304', 'Masculino',  '2003-11-19', '26.0', '11.0', '37.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 305', 'Feminino',  '1976-04-24', '12.0', '10.0', '22.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 306', 'Feminino',  '2000-08-15', '11.0', '16.0', '27.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 307', 'Masculino',  '1988-05-05', '20.0', '2.0', '22.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 308', 'Masculino',  '1962-03-22', '19.0', '64.0', '83.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 309', 'Feminino',  '1958-05-25', '9.0', '0.0', '9.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 310', 'Masculino',  '1974-03-16', '10.0', '20.0', '30.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 311', 'Feminino',  '1993-12-22', '2.0', '28.0', '30.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 312', 'Feminino',  '1960-05-30', '25.0', '6.0', '31.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 313', 'Masculino',  '1997-06-01', '19.0', '30.0', '49.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 314', 'Masculino',  '1964-12-03', '9.0', '79.0', '88.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 315', 'Masculino',  '1980-01-03', '15.0', '1.0', '16.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 316', 'Masculino',  '1976-09-19', '81.0', '15.0', '96.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 317', 'Feminino',  '1969-05-27', '22.0', '71.0', '93.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 318', 'Masculino',  '1985-09-02', '25.0', '4.0', '29.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 319', 'Feminino',  '1983-06-29', '10.0', '24.0', '34.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 320', 'Feminino',  '2001-09-13', '7.0', '6.0', '13.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 321', 'Feminino',  '1986-02-04', '21.0', '17.0', '38.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 322', 'Masculino',  '1964-10-03', '9.0', '68.0', '77.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 323', 'Feminino',  '2004-06-23', '19.0', '0.0', '19.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 325', 'Feminino',  '1968-05-20', '12.0', '59.0', '71.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 326', 'Masculino',  '1987-05-07', '46.0', '21.0', '67.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 327', 'Feminino',  '1964-12-05', '11.0', '44.0', '55.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 328', 'Feminino',  '1968-10-17', '9.0', '41.0', '50.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 329', 'Masculino',  '1987-12-08', '30.0', '8.0', '38.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 330', 'Masculino',  '1994-11-09', '72.0', '4.0', '76.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 331', 'Feminino',  '1959-03-10', '1.0', '1.0', '2.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 332', 'Feminino',  '2000-03-25', '59.0', '12.0', '71.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 333', 'Masculino',  '2004-03-25', '48.0', '2.0', '50.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 334', 'Masculino',  '1976-08-13', '50.0', '5.0', '55.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )
                     values ('498', 'Jogador 335', 'Masculino',  '1992-06-20', '4.0', '0.0', '4.0')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
Não foi possível inserir o regristro Jogador 499. O erro foi encontrado foi: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'cod_pais' doesn't have a default value")
[SQL: insert into jogador (cod_jogador, nome_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas )

In [183]:
for pessoa in df_jogo.itertuples():
    jogo = pessoa.jogo
    try:
        querey = f"""insert into jogo (jogo ) 
                     values ('{cod_jogador}' )"""      
        conn.execute(querey)      
        print(f"Registro inserido com sucesso: {jogo}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {jogo}. O erro foi encontrado foi: {e}")

Não foi possível inserir o regristro Dama. O erro foi encontrado foi: (MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'jogo' in 'field list'")
[SQL: insert into jogo (jogo )
                     values ('498' )]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
Não foi possível inserir o regristro Jogo da velha. O erro foi encontrado foi: (MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'jogo' in 'field list'")
[SQL: insert into jogo (jogo )
                     values ('498' )]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
Não foi possível inserir o regristro Xadrez. O erro foi encontrado foi: (MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'jogo' in 'field list'")
[SQL: insert into jogo (jogo )
                     values ('498' )]
(Background on this error at: http://sqlalche.me/e/14/e3q8)